<mat-toolbar class="bg">
    <mat-toolbar-row>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button ><mat-icon>notifications</mat-icon></button>


      <div class="center-column">
        <button mat-icon-button class="icon-user" [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >
      <mat-icon>edit</mat-icon>
      Modifier le mot de passe
    </button>
    <button  mat-menu-item>
      <mat-icon>logout</mat-icon>
      Se déconnecter
    </button>
  </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer class="sidenav" mode="side" opened style="width: fit-content;height: 100%;">
  
      <mat-list role="list">
       
  
        <mat-list-item routerLink="./"  routerLinkActive="isRouteActive" role="listitem">
          <mat-icon>home</mat-icon>
          <a>Overview</a>
        </mat-list-item>
  
       
  
        <mat-list-item routerLink="./historique"  routerLinkActive="isRouteActive" role="listitem">
          <mat-icon>poll_outlined</mat-icon>
          <a>Analytics</a>
        </mat-list-item>
  
        <mat-list-item routerLink="./reclamation"  routerLinkActive="isRouteActive" role="listitem">
          <mat-icon>first_page</mat-icon>
          <a>Collapse</a>
        </mat-list-item>
        
  
  
      </mat-list>
  
  
    </mat-drawer>
    <mat-drawer-content  class="pt-4">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>