<div class="banner">
    <img src="assets/img/logo.svg" alt="Edacy">
</div>

<div class="page-content">
    <div class="center-title">
        <span class="title"> Welcome Temitope </span>
        <span class="label-costumization">Let's help you setup your environment</span>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="label-costumization">Set your domain</label>
            <input type="text" class="container-fluid input-costumization2" > 
        </div>
        
        <div class="form-group">
            <label class="label-costumization">Default language</label>
            <div class="lang-card">
                <mat-radio-group>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-radio-button value="Arabic">Arabic</mat-radio-button>

                        </div>
                        <div class="col-sm-4">
                            <mat-radio-button value="English">English</mat-radio-button>

                        </div>
                        <div class="col-sm-4">
                            <mat-radio-button value="French">French</mat-radio-button>

                        </div>
                    </div>

                </mat-radio-group>
            </div>
        </div>
          
    </div>
    <button class="btn-green" color="primary"  >CONTINUE TO YOUR DASHBOARD</button>

   
</div>